@import "https://fonts.googleapis.com/css?family=Roboto:100,300,600";

html, body {
  background: transparent;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 2.25em;
  line-height: 1.15;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
}

canvas {
  display: block;
}

button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background: transparent;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 100;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

a {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
  line-height: 1.25;
  font-weight: 100;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

startButton div {
  color: #ffffff;
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  overflow: auto;
}

fullscreenButton div {
  position: absolute;
  top: 5px;
  right: 5px;
  overflow: auto;
}

.loadingclass {
  color: #ffffff;
  font-size: 1.35rem;
  line-height: 1.15;
  font-weight: 100;
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  overflow: auto;
}

.fullscreen {
  position: absolute;
  top: 5px;
  right: 5px;
  overflow: auto;
}

/* responsivness for smaller screens */

@media screen and (max-width: 2048px) {
  body, button {
    font-size: 1.3rem;
    line-height: 1.225;
  }
  a {
    font-size: 2.6rem;
    line-height: 1.225;
  }
}

@media screen and (max-width: 980px) {
  body, button {
    font-size: 0.95rem;
    line-height: 1.2;
  }
  a {
    font-size: 1.35rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 736px) {
  body, button {
    font-size: 0.85rem;
    line-height: 1;
  }
  a {
    font-size: 1.25rem;
    line-height: 1;
  }
}

@media screen and (max-width: 480px) {
  body, button {
    font-size: 0.75rem;
    line-height: 0.85;
  }
  a {
    font-size: 1.15rem;
    line-height: 0.85;
  }
}